/* Navbar Start */
#navbar{
    background: #7B7AD6;
    color: white;
}
#logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px rgb(215, 208, 208);
    margin-bottom: 5px;
}
#logo span{
    color: #f1f0f9;
}
.navbar-toggler span{
    color: #6c5bc5;
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 18px;
    font-weight: 550;
    color: rgb(246, 228, 228);
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #6c5bc5;
    color: white;
}
#navbar form button{
    background: #6c5bc5;
    color: white;
    border: none;
}
#book{
    background-color: #A5A4E2;
    height: 100vh;
    color: white;
}
#log{
    text-align: center;
}
li{
        list-style-type: none;
}
#are{
    color: #545297;
}
#alone{
    color: white;
}
/* Navbar End */

/*section2*/

.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #6c5bc5;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #6c5bc5;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 170px;
}


/*section2*/
